<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :ip_address %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :zip_code %>
    <%= f.input :country %>
    <%= f.input :card_type %>
    <%= f.input :card_expires_on %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
